.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  // border: 1px solid red
}

.title-primary {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: $title-color;
}

.subtitle-primary {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $subtitle-color;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    max-width: 375px;
  }
}

// // Mobile-first Approach
// .container {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 1rem;
//   padding-right: 1rem;
// }

// @media (min-width: 1536px) {
//   .container {
//     max-width: 1536px;
//   }
// }
// @media (min-width: 1280px) {
//   .container {
//     max-width: 1280px;
//   }
// }
// @media (min-width: 1024px) {
//   .container {
//     max-width: 1024px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 768px;
//   }
// }
// @media (min-width: 640px) {
//   .container {
//     max-width: 640px;
//   }
// }
// @media (min-width: 475px) {
//   .container {
//     max-width: 475px;
//   }
// }

  // Margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}


  
