@import 'config';


  body.noscroll {
    overflow-y: hidden;
  }

  
  
  // @media (prefers-color-scheme: light) {
  //   :root {
  //     color: #213547;
  //     background-color: #ffffff;
  //   }
  //   a:hover {
  //     color: #747bff;
  //   }
  //   button {
  //     background-color: #f9f9f9;
  //   }
  // }





//Divider
.divider {
  width: 85%;
  height: 0.2px;
  background-color: black;
  margin: 0 auto;
}


//Checkout Form


@import 'utilities';
@import 'buttons';
@import 'mobile';
